.imgbox {
   width: 574px;
   height: 397px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgbox img {
   object-fit: fill;
   width: 367px;
   height: 380px;
   display: block;
   object-fit: contain;
}
.goodInfoPageMini__window .imgbox {
   width: 300px;
   height: 300px;
}
.goodInfoPageMini__window .imgbox img {
   object-fit: fill;
   width: 200px;
   height: 200px;
   display: block;
   object-fit: contain;
}