.eventList__wrapper {
   display: grid;
   grid-template-columns: repeat(2, 550px);
   justify-content: space-between;
   width: 100%;
   margin: 0 auto;
   align-items: center;
}

.event__load {
   background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
   border-radius: 9px;
   width: 311px;
   height: 71px;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 27px;
   color: #FFFFFF;
   display: block;
   margin: 38px auto 0 auto;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}
.event__load:hover {
   color: #FFFFFF;
}
.eventList__tittle {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: #363636;
}


@media(max-width: 1200px) {
   .eventList__wrapper {
      grid-template-columns: repeat(2, 450px);
   }
}

@media(max-width: 992px) {
   .eventList__wrapper {
      grid-template-columns: repeat(2, 300px);
   }
   .eventList__wrapper .eventListItem {
      height: 250px
   }
   .eventList__wrapper .eventListItem__footer {
      padding: 10px;
      height: 60px;
      overflow: hidden;
   }
   .eventListItem .event__name {
      font-size: 16px;
   }
}

@media(max-width: 769px) {
   .eventList__wrapper {
      width: 500px;
      margin: 0 auto;
      grid-template-columns: 500px;
   }
   .eventList__wrapper .eventListItem {
      height: 400px
   }
   .eventList__wrapper .eventListItem__footer {
      padding: 10px;
      height: 60px;
      overflow: hidden;
   }
   .eventListItem .event__name {
      font-size: 16px;
   }
}

@media(max-width: 569px) {
   .eventList__wrapper {
      width: 100%;
      margin: 0 auto;
      grid-template-columns: 100%;
   }
   .eventList__wrapper .eventListItem {
      height: 300px
   }
   .eventList__wrapper .eventListItem__footer {
      padding: 10px;
      height: 60px;
      overflow: hidden;
   }
   .eventListItem .event__name {
      font-size: 16px;
   }
   .event__load {
      width: 200px;
      height: 60px;
   }
}