.eventList__wrapper {
   display: grid;
   grid-template-columns: repeat(2, 550px);
   justify-content: space-between;
   width: 100%;
   margin: 0 auto;
   align-items: center;

}

.event__load {
   background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
   border-radius: 9px;
   width: 311px;
   height: 71px;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 23px;
   line-height: 27px;
   color: #FFFFFF;
   display: block;
   margin: 38px auto 0 auto;
   border: none;
}

.eventList__tittle {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: #363636;
}