.catalog{
   padding: 45px 0 80px 0;
}
.catalog__tittle {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: #363636;
   margin-bottom: 22px;
}
.catalow__wrapper {
   display: flex;
   width: 100%;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center
}
.catalog__wrapper__big {
   width: 547px;
   height: 384px;
   position: relative;
   cursor: pointer;
   text-decoration: none;
}
.catalog__wrapper__big img {
   width: 547px;
   object-fit: fill;
   border-radius: 20px 20px 0 0
}
.catalog__wrapper__big__desc {

   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   padding: 12px 0 13px 32px;
   background: linear-gradient(180deg, #2A2A2A 0%, #2A2A2A 100%);
   border-radius: 0px 0px 9px 9px;
   width: 100%;
   text-decoration: none;
}

.catalog__links {
   display: grid;
   grid-template-columns: repeat(2, 272px);
   gap: 10px;
}


.catalogItem__img__block img{
   width: 100%;
   height: 100%;
   object-fit: fill;
}

@media(max-width: 1199px) {
   .catalow__wrapper {
      justify-content: space-around;
   }
   .catalog__wrapper__big {
      width: 350px;
      height: 290px;
   }
   .catalog__wrapper__big img {
      width: 350px;
      height: 290px;
   }
   .catalog__links {
      grid-template-columns: repeat(2, 200px);
      gap: 30px;
   }
}



@media(max-width: 992px) {
   .catalog__wrapper__big {
      width: 600px;
      height: 120px;
   }
   .catalog__wrapper__big img {
      width: 600px;
      height: 350px;
   }

   .catalog__links {
      grid-template-columns: repeat(2, 280px);
      gap: 30px;
      margin-top: 290px;
   }
}


@media(max-width: 769px) {
   .catalog__wrapper__big {
      width: 500px;
      height: 350px;
      margin-bottom: 40px;
   }
   .catalog__wrapper__big img {
      width: 500px;
      height: 350px;
   }

   .catalog__links {
      grid-template-columns: repeat(2, 230px);
      gap: 30px;
      margin-top: 40px;
   }
   
}

@media(max-width: 577px) {
   .catalog__wrapper__big {
      width: 400px;
      height: 350px;
   }
   .catalog__wrapper__big img {
      width: 400px;
      height: 350px;
   }

   .catalog__links {
      grid-template-columns: repeat(2, 180px);
      gap: 30px;
      margin-top: 40px;
   }
  

}

@media(max-width: 420px) {
   .catalog__wrapper__big {
      width: 100%;
      height: 120px;
   }
   .catalog__wrapper__big img {
      width: 100%;
      height: 120px;
   }

   .catalog__links {
      width: 100%;
      grid-template-columns: 100%;
      gap: 30px;
      margin-top: 40px;
   }
  .catalogItem {
     width: 100%;
     height: 120px;
  }
}