.goodPreview {
   width: 75px;
   height: 75px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   margin-bottom: 30px;
   cursor: pointer;
   border-radius: 10px;
   padding: 5px;
   z-index: 15;
   background: #FFFFFF;
   border: 1px solid rgba(217, 217, 217, 0.39);
   box-sizing: border-box;
   border-radius: 9px;
}
.goodPreview img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.active__prew {
   background: #FFFFFF;
   border: 1px solid red;
   box-sizing: border-box;
   border-radius: 9px;
}