.navbar__item a, .catalog__link{
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: #2A2A2A;
   text-decoration: none;
}
.catalog__link:hover {
   color: #2A2A2A;
}
