.eventsListElementPage{
   padding: 51px 0 85px 0;
}
.eventsListElementPage__tittle {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: #2A2A2A;
   margin-bottom: 20px;
}
.eventsListElementPage__wrapper {
   display: grid;
   grid-template-columns: repeat(2, 410px);
   justify-content: space-between;
   width: 100%;
   margin: 0 auto;
   align-items: center;
}
.eventsListElementPage__wrapper .event__name {
   line-height: 40px;
}
.eventsListElementPage__wrapper .eventListItem__footer {
   padding: 22px 16px 7px 32px;
}
.event__main__wrapper {
   display: grid;
   grid-template-columns: 75% 20%;
   align-items: flex-start;
   padding: 0;
   justify-content: space-between;
}
.eventsListElementPage__wrapper>div {
   height: 360px;
   margin: 0 0 30px 0;
}
.calendar__box {
   width: 255px;
   height: 288px;
   background: #FFFFFF;
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
}
.calendar {
   width: 100%;
   height: 100%;
   padding: 0 20px 0 20px;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   color: #2A2A2A;
}
.event__filter__box h5 {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   color: #2A2A2A;
   margin-bottom: 16px;
}
.event__filter__box {
   width: 255px;
   height: 280px;
   background: #FFFFFF;
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
   margin-top: 28px;
   padding: 27px 37px 43px 23px;
}
.event__filter__box input {
   width: 21px;
   height: 21px;
   opacity: 0.38;
   border: 1px solid #2A2A2A;
   box-sizing: border-box;
   border-radius: 7px;
}
.eventFilterSpan {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 209.4%;
   color: #2A2A2A;
   margin-left: 12px;
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
}
.eventFilterSpan__active {
   color: #F9A43F;
}
.show {
   visibility: hidden;
   transition: 0.4s all;
}
.nullDate {
   display: block;
   width: 150px;
   height: 30px;
   color: white;
   border-radius: 10px;
   font-weight: 600;
   margin-top: 15px;
   border: none;
   background: black;
   transition: 0.3s all;
}
.nullDate:active {
   transform: scale(0.89);
}


@media(max-width: 1200px) {
   .event__main__wrapper {
      grid-template-columns: 60% 30%;
      justify-content: stretch;
   }
   .eventsListElementPage__wrapper {
      grid-template-columns: repeat(2, 250px);
      justify-content: stretch;
      gap: 15px;
   }
   .eventsListElementPage__wrapper .eventListItem {
      height: 300px;
   }
   .eventsListElementPage__wrapper .eventListItem .eventListItem__footer {
      padding: 10px;
      height: 200px;
      width: 100%;
   }
   .eventsListElementPage__wrapper .eventListItem .eventListItem__footer .event__name {
      font-size: 14px;
   }
}


@media(max-width: 992px) {
   .event__main__wrapper {
      margin: 0 auto;
      width: 100%;
      grid-template-columns: 100%;
      justify-content: stretch;
   }
   .eventsListElementPage__wrapper {
      width: max-content;
      margin: 0 auto;
   }
  .event__filter {
     width: 100%;
     justify-content: space-between;
     margin-top: 40px;
     display: flex;
  }
  .event__filter__box {
     margin: 0;
  }
  .eventsListElementPage__wrapper .eventListItem .eventListItem__footer .event__desc {
   font-size: 14px;
}
}

@media(max-width: 569px) {
   .eventsListElementPage__wrapper {
      width: 100%;
      grid-template-columns: 100%;
   }
   .eventsListElementPage__wrapper .eventListItem {
      height: 300px;
   }

   .eventsListElementPage__wrapper {
      width: max-content;
      width: 100%;
      grid-template-columns: 100%;
   }
   .event__filter {
      width: max-content;
      flex-direction: column;
      margin: 30px auto 0 auto;
   }
   .event__filter__box {
      margin-top: 60px;
   }
}