.catalogItem {
   position: relative;
   cursor: pointer;
}
.catacatalogItemog__item {
   width: 272px;
   height: 217px;
  
}


.catalogItem__img__block {
   width: 100%;
   height: 100%;
}
.catalogItem__img__block img {
   border-radius: 20px 20px 0 0
}
.catalogItem__desc {
   width: 100%;
   padding: 12px 0 13px 19px;
   background: #2A2A2A;
   border-radius: 0px 0px 9px 9px;
   position: absolute;
   bottom: 0;
   left: 0;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
}