.description {
   margin-top: 33px;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
}


@media(max-width: 450px) {
   .description {
      font-size: 12px;
   } 
}