.nav {
   background: #2A2A2A;
   padding: 23px 0 21px 0;
}

.navbar__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__logo {
   width: 157px;
   height: 37px;
}

.navbar__logo img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.navbar__search {
   position: relative;
}

.navbar__search>img {
   width: 19px;
   height: 19px;
   object-fit: fill;
   display: block;
   position: absolute;
   right: 6px;
   bottom: 3px;
}
.navbar__search input {
   background: #FBFAFA;
   border: 1px solid #F2F2F2;
   box-sizing: border-box;
   border-radius: 9px;
   width: 375px;
}

.navbar__contact {
   display: flex;
   justify-content: space-between;
   align-items: center
}

.nav__tel {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: #FFFFFF;
}
.navra__user {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80px;
}
.navra__user img {
   display: block;
}