.listItem {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: #2A2A2A;
   list-style: none;
   margin-bottom: 10px;
   position: relative;
   height: 42px;
   overflow: hidden;
   width: 215px;
   cursor: pointer;
   transition: 0.3s all;
}
.listBtn{
   display: block;
   position: absolute;
   right: 17px;
   top: -15px;
   cursor: pointer;
   width:14px;
   height: 14px;
   background: url('../../images/list/Vector\ \(1\).png') center center/contain no-repeat
}
.listBtn__active {
   background: url("../../images/list/up.png") center center/contain no-repeat
}

.catalogPage__list li li {
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 208%;
   color: rgba(42, 42, 42, 0.85);
   margin-top: 10px;
   width: 215px;
   list-style: none;
}
.listItem__active {
   height: max-content;
}
