.rules {
   margin-top: 33px;
   text-align: justify;
   font-family: 'Trebuchet MS';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
}
.rules ul {
   margin-top: 20px;
}
.rules ul li {
   margin-top: 10px;
}